images/*
peabody_files/*
.ipynb_checkpoints/*
peabody_files/
Accession Files/
Accession Files/*
*.pyc
.DS_Store
db.sqlite3
__pycache__
*~
PeabodyFrontend/venv/*
PeabodyFrontend/dashboard/migrations/*
*.DS_Store*
*venv*
settings.py
PeabodyFrontend/PeabodyFrontend/settings.py
